<html>
    <head>
        <title>ADD REPLY</title>
    </head>
    <body>
        <ul>
        <% replies.forEach(function(reply) { %>
            <li><%= reply._writer.nick %> <%= reply._writer.profile_photo %>
            <%= reply.content %> <%= reply.rg_date %> </li>
        <% })%>
            <form method="POST" action="/reply/<%= postId %>">
                <input type="text" name="writer"><br>
                <input type="text" name="content"><br>
                <button type="submit">댓글 달기</button>
            </form>
        </ul>
    </body>
</html>