<html>
    <head>
        <title>ADD REPLY</title>
    </head>
    <body>
        <ul>
            <% users.forEach(function(user){ %>
                <li><%= user._id%></li>
            <% })%>
        </ul>
        <ul>
        <% replies.forEach(function(reply) { %>
            <li><%= reply._writer.nick %> <%= reply._writer.profilePhoto %>
            <%= reply.content %> <%= reply.createAt %> </li>
        <% })%>
            <form method="POST" action="/posts/<%= postId %>/comments">
                writer : <input type="text" name="writer"><br>
                content : <input type="text" name="content"><br>
                <button type="submit">댓글 달기</button>
            </form>
        </ul>
    </body>
</html>