<html>
<head>
    <title>Show list</title>
    <style>
        #contents{
            background-color:lavender;
        }
    </style>
</head>
<body>
    <ol>
        <%shows.forEach(function(show){ %>
        <div id="contents"><li>
            <h2><a href="">제목 : <%=show.postInfo.show.title%></a></h2>
            createAt : <%=show.postInfo.createAt%><br>
            _writer : <%=show.postInfo._writer%><br>
            content : <%=show.postInfo.content%><br>
            likes : <%=show.postInfo.likes%><br>
            pic : <img src="<%=show.postInfo.resources[0].originalPath%>" width="200" height="200"/><br>
            show.type : <%=show.postInfo.show.type%><br>
            show.tags : <%=show.postInfo.show.tags%><br>
            show.startDate : <%=show.postInfo.show.startDate%><br>
            show.endDate : <%=show.postInfo.show.endDate%><br>
            show.startTime : <%=show.postInfo.show.startTime%><br>
            show.endTime : <%=show.postInfo.show.endTime%><br>
            show.fee : <%=show.postInfo.show.fee%><br>
            show.address : <%=show.postInfo.show.location.address%><br>

        </li></div>
        <% });  %>
    </ol>
</body>
</html>